<h1>Create a New Recipe</h1>

<form action="/recipes" method="post">
<p>Name: <input type="text" name="name"></p>
<p>Link: <input type="text" name="url_location"></p>
<input type='submit' value='Create'>
</form>