<h1>Welcome, <%=current_user.username%>. Here are your recipe books:</h1>

<% RecipeBook.all.each do |book| %>
    <ul>
        <li><a href="/recipe-books/<%=book.id%>"><%= book.name %></a></li>
    </ul>
<% end %>
<a href='/recipe-books/new'>Create a New Recipe Book</a>
</br>
