<h1>Create a New Account</h1>
<% if !@signup_error.nil? %>
<h2><%= @signup_error %></h2>
<% end %>

<form action="/signup" method="post">
<p>Name: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<input type='submit' value='Sign Up'>
</form>