<h1>Edit Your Recipe Book</h1>
<h2>Current Name: <%= @recipe_book.name%></h2>

<form action="/recipe-books/<%=@recipe_book.id%>" method="post">
<p>Name: <input type="text" name="name"></p>
<p>Description: <input type="text" name="description"></p>
<input type='submit' value='Save'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
</form>