<!doctype html>
<html>
    <head>
        <title>Recipe Books</title>
    </head>
    <body>
  
      <%= yield %>
      <% if logged_in? %>
        <a href="/logout"> Log Out </a>
      <% end %>
 
  </body>
</html>